<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kqgeo.seastar.tx.app1.mapper.App1Tx2Mapper">

    <resultMap id="base_result_map" type="com.kqgeo.seastar.tx.app1.model.Tx1Model">

        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
    </resultMap>

    <select id="select1" resultMap="base_result_map">
        select * from app1_tx2
    </select>


    <insert id="insert1">
        insert into app1_tx2(id, name ) values(2,'aaa')
    </insert>
</mapper>